<div ng-controller="DialogController as vm" class="dialog-content-container">
    <div class="dialog-fields">
        <label>First Name</label>
        <input ng-model="vm.model.firstName" />
        <label>Last Name</label>
        <input ng-model="vm.model.lastName" />
    </div>
    <div class="dialog-buttons">
        <a ng-click="close()">Cancel</a>
        <button class="btn btn-default btn-primary"
                ng-click="submit(vm.model)">
            Save
        </button>
    </div>
</div>
